@charset "UTF-8";

.wrapper{
    width: fit-content;
	margin-inline: auto;
}

.add-employee-btn{
    margin-left: auto;
    display: table !important;
}

.employees-table{
    margin-top: 30px;
}

.page-btn{
    margin-inline: 5px;
}